<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-phone">
    <h1 id="main-headers">MLB Scraper:<br>The Latest Headlines!</h1>
</div>
<div class="mdl-grid">
    {{> articles/articles}}
</div>





