body {
    background-color: #F2F6D0
}

/*#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
}
*/
h1,
h2 {
    text-align: center;
    /*color: #A90100;*/
}

.mdl-card__title {
    text-align: center;
}

.mdl-card__actions mdl-card--border {
    margin: 0 auto;
    text-align: center;
}

form {
    margin: 0 auto;
    text-align: center;
}

.mdl-button__ripple-container {
    /*color: #B2FF59;*/
    /*background-color: #795548;*/
}

.mdl-button {

}

.form {
    display: inline;
}



textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}
